*.zig text eol=lf
*.zon text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
demo/public/data/scene.ply filter=lfs diff=lfs merge=lfs -text
demo/public/data/scene.tqply filter=lfs diff=lfs merge=lfs -text
demo/public/data/lego.ply filter=lfs diff=lfs merge=lfs -text
demo/public/data/lego.tqply filter=lfs diff=lfs merge=lfs -text
